ShibUserPassAuth {
  edu.vt.middleware.ldap.jaas.LdapLoginModule required
    host="<%= URI(@ldapurl).host %>"
    tls="false"
    base="<%= @ldapbasedn %>"
    subtreeSearch="true"
    userField="uid"
  ;
};
